In [1]:
%load_ext autoreload
%autoreload 2
import sys
from pathlib import Path
path = str(Path.cwd().parent)
print(path)
sys.path.insert(1, path)

import numpy as np
import pandas as pd

/home/joaquin/Documents/GitHub/skforecast

In [ ]:
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'type': ['A', 'B', 'A'],
    'value': [10.5, 20.3, 30.7]
})
df1['type'] = df1['type'].astype('category')

df2 = pd.DataFrame({
    'id': ['1', '2', '3'],             
    'type': ['A', 'B', 'E'],           
    'value': ['10.5', '20.3', '30.7']
})


dtypes_out_ = df1.dtypes.to_dict()
df_2_aligned = df2.astype(dtypes_out_)

print(df1.dtypes)
print(df_2_aligned.dtypes)
print({cat: code for code, cat in enumerate(df1['type'].cat.categories)})
print({cat: code for code, cat in enumerate(df_2_aligned['type'].cat.categories)})

id          int64
type     category
value     float64
dtype: object
id          int64
type     category
value     float64
dtype: object
{'A': 0, 'B': 1}
{'A': 0, 'B': 1}

In [15]:
df_2_aligned

   id type  value
0   1    A   10.5
1   2    B   20.3
2   3  NaN   30.7